page {
    min-height: 100vh;           // 页面撑满视口
    display: flex;
    flex-direction: column;


 }
//  background-color: #efefef !important;

/* 轮播图样式 */
.swiper{
    width: 100%;
  height: 360rpx;              // 给容器固定高度
  flex-shrink: 0;              // 不允许被压缩

  swiper{
    width: 100%;
    height: 100%;        

    swiper-item{

      image{
        width: 100%;
        height: 100%;
      }
      //& 在sass中代表的是父系选择器，引用的意思
      //swiper-item:first-child
      // &:first-child{
      //   background-color: lightsalmon;
      // }

      // &:last-child{
      //   background-color: lightseagreen;
      // }
    }
  }
}
text{
  font-size: 35rpx;
  color: rgb(243, 239, 239);
}
//公司信息
.info{
    flex-shrink: 0;        // 保证不被压缩
  display: flex;
  background-color: rgb(58, 54, 54);
  padding: 16rpx;
  font-size: 10rpx;
}

//运动导航
.good-nav{
    flex-shrink: 0;              // 保证导航不被压缩
    display: flex;
    justify-content: space-between;
    padding: 40rpx 20rpx;
    background-color: rgb(240, 254, 255);
    view{
        display: flex;
        flex-direction: column;
        align-items: center;
      
        image{
        width: 80rpx;
        height: 80rpx;
        }
        text{
            font-size: 45rpx;
            margin-top: 12rpx;
            color: #000;
            background-color: azure;
        }
    }
}
.content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;              // 自动换行
    justify-content: space-between;
    padding: 0 20rpx;
    box-sizing: border-box;
  
    image {
      width: 50%;                 // 每行两张图片
      height: 200rpx;
    //   margin-bottom: 20rpx;
      border-radius: 12rpx;
      object-fit: cover;
      display: block;
    }
  }