.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    height: 100vh;
    position: relative;
  }
  
  .sport-tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #fff;
    padding: 20rpx 0;
    border-bottom: 1px solid #eee;
  
    .tab {
      font-size: 30rpx;
      color: #666;
      padding: 10rpx 20rpx;
      border-radius: 30rpx;
  
      &.active {
        background-color: #333;
        color: #fff;
        font-weight: bold;
      }
    }
  }
  
  .map {
    width: 100%;
    height: 70vh;
  }
  
  .info-panel {
    position: absolute;
    bottom: 260rpx;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20rpx;
    padding: 20rpx;
    box-shadow: 0 5rpx 15rpx rgba(0, 0, 0, 0.1);
  
    .info-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      .label {
        font-size: 26rpx;
        color: #666;
      }
      .value {
        font-size: 36rpx;
        font-weight: bold;
        color: #00b26a;
      }
    }
  }
  
  .go-section {
    position: absolute;
    bottom: 80rpx;
    display: flex;
    justify-content: center;
    width: 100%;
  
    .go-btn, .stop-btn {
      width: 180rpx;
      height: 180rpx;
      border-radius: 50%;
      font-size: 50rpx;
      font-weight: bold;
      color: #fff;
      box-shadow: 0 10rpx 30rpx rgba(0, 178, 106, 0.4);
    }
  
    .go-btn {
      background-color: #00b26a;
    }
  
    .stop-btn {
      background-color: #ff4d4f;
    }
  }
  