page {
  background-color: #f8f8f8;
  color: #333;
}
.admin-container { padding: 40rpx; }

.admin-header { margin-bottom: 60rpx; }
.title { font-size: 40rpx; font-weight: bold; color: #1ABC9C; margin-bottom: 10rpx;}
.subtitle { font-size: 24rpx; color: #666; }

.dashboard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60rpx;
}
.card {
  width: 45%;
  background: #ffffff;
  padding: 30rpx;
  border-radius: 12rpx;
  text-align: center;
  box-shadow: 0 4rpx 10rpx rgba(0, 0, 0, 0.05);
}
.card .num { font-size: 48rpx; font-weight: bold; color: #1ABC9C; } /* 主题色 */
.card .txt { font-size: 24rpx; color: #666; margin-top: 10rpx; }

.list-title { font-size: 28rpx; color: #666; margin-bottom: 20rpx; }

.menu-list {
    background: #ffffff;
    border-radius: 12rpx;
    box-shadow: 0 4rpx 10rpx rgba(0, 0, 0, 0.05);
}
.menu-item {
  padding: 30rpx;
  border-bottom: 1px solid #eee;
  font-size: 30rpx;
  color: #333;
}
.menu-item:last-child { border-bottom: none; }