/* pages/auth/auth.wxss */
page { background-color: #c2fcc2; ; color: #333; }

.auth-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 100rpx 40rpx;
  text-align: center;
}

.logo-area { margin-bottom: rpx; }
.logo-text { font-size: 100rpx; font-weight: bold; color: #1ABC9C; } /* 主题色 */
.slogan { font-size: 40rpx; color: #666; margin-top: 10rpx; }

.tip-box {
  background: #ffffff;
  padding: 40rpx;
  border-radius: 40rpx;
  margin-bottom:90rpx;
 
  text-align: center;
}
.tip-title {
  display: block;
  font-size: 49rpx;
  font-weight: bold;
  color: #333;
  margin-bottom: 20rpx;
}
.tip-content {
  display: block;
  font-size: 32rpx;
  color: #666;
  line-height: 1.6;
}

.auth-btn {
  width: 100%;
  height: 96rpx;
  line-height: 96rpx;
  border-radius: 48rpx;
  background: linear-gradient(90deg, #1ABC9C, #2ECC71); /* 蓝绿渐变 */
  color: #fff;
  font-size: 32rpx;
  font-weight: bold;
  box-shadow: 0 8rpx 20rpx rgba(26, 188, 156, 0.4);
}

.footer-tip {
  position: absolute;
  bottom: 40rpx;
  font-size: 24rpx;
  color: #aaa;
}